* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #24282c;
  --main-background-color: #bd2324;
  --secodary-background-color: #f9f1e5;
  --secondary-font-color: #e54634;
}

html {
  font-size: 36px;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background-color);
  color: var(--font-color);
}
h1 {
  text-align: center;
  font-size: 2rem;
  display: inline;
}
p {
  font-size: 1.25rem;
  display: inline;
  width: 118px;
  height: 59px;
  background-color: var(--secodary-background-color);
  color: var(--secodary-font-color);
}
.parent {
  font-size: 1rem;
  background-color: var(--secodary-background-color);
  color: var(--secodary-font-color);
}
#meow {
  float: right;
}
#head {
  font-size: 7rem;
}
span {
  font-size: 2rem;
  display: inline-block;
}
img {
  display: block;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
  align-content: center;
  flex-direction: row-reverse;
}
.box {
  width: 100px;
  height: 100px;
  border: 1px solid var(--font-color);
  background-color: var(--secodary-background-color);
  color: var(--secodary-font-color);
}
